#container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  #doll {
    width: 200px;
    height: 200px;
    background-color: #f0f0f0;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    overflow: hidden;
  }
  
  #doll-face {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    transition: opacity 1s; /* フェード効果のアニメーション設定 */
  }
  
  #blood-effect {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s; /* フェード効果のアニメーション設定 */
    pointer-events: none;
  }
  
  #image-upload-btn {
    margin-top: 20px;
  }
  